#Navigation {
  height: calc(100vh - 120px);
  border-top-right-radius: 60px;
}

#Navigation .nav-card {
  width: 120px;
  height: 120px;
}

#Navigation .nav-item {
  width: 100%;
  height: 48px;
}

#Navigation .nav-icon {
  width: 24px;
  height: 24px;
}
